@model Project_Helpdesk_Portal.Models.Ticket

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h1>Szczegóły zgłoszenia: </h1>

<div>
    <h4> @Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <b>Opis: </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <b>Utworzono: </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
           <b>Urządzenie : </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.Description)
        </dd>
        <dt class = "col-sm-2">
            <b>Status :</b>
        </dt>
        <dd class = "col-sm-10">
            <b style="color:white; background-color:@Model.Status.Logo; padding:4px; border-radius:3px;">@Html.DisplayFor(model => model.Status.Name)</b>
        </dd>
        <dt class = "col-sm-2">
            <b>Użytkownik :</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>
