@model Project_Helpdesk_Portal.Models.User

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuwanie</h1>

<h3>Czy napewno chcesz to na zawsze usunąć ?</h3>
<h5>(Naprawdę długo!)</h5>
<br />
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <b>Imię & Nazwisko:</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
           <b>Adres E-mail:</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            <b>Hasło:</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            <b>Nazwa użytkownika:</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
           <b>Administrator</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "col-sm-2">
           <b>Pracownik IT</b>

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHelpdeskStaff)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć</a>
    </form>
</div>
